body {
    margin: 0;
    padding: 0;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: calc(100% + 20px) calc(100% + 20px);
    background-position: center;*/
    font-family: Arial, sans-serif;
    font-size: clamp(0.9rem, 0.7565rem + 0.7652vw, 2rem);
    flex-wrap: wrap;
    justify-content: left;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    min-width: fit-content;
    /*min-height: -moz-fit-content;
    min-width: -moz-fit-content;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /*background-attachment: fixed;*/
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5% 0.5% 0.5% 0.5%;
    background-color: rgba(7, 66, 2, 0.8);
    color: rgba(255, 209, 3, 0.795);
    /*font-family: Arial, sans-serif;
    font-size: clamp(0.9rem,0.7565rem + 0.7652vw,2rem);*/
    text-align: left;
    z-index: 1;
}

nav {
    text-align: left;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: rgba(255, 209, 3, 0.795);
    padding: 10px 20px 10px 0px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5% 0.5% 0.5% 0.5%;
    text-align: center;
    background-color: rgba(7, 66, 2, 0.8);
    color: rgba(255, 209, 3, 0.795);
    /*font-family: Arial, sans-serif;
    font-size: clamp(0.9rem, 0.7565rem + 0.7652vw, 2rem);*/
    word-break: break-all;
    z-index: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    justify-content:space-around;
    align-items: flex-start; /* lisätty juuri */
    height: 100vh; /* llisätty juuri */
    width: 100%;
    /*overflow-y: auto;*/
    padding: 10em 1em 3em 1em;
    font-family: Arial, sans-serif;
    font-size: clamp(0.9rem, 0.7565rem + 0.7652vw, 2rem);
    color:rgba(255, 209, 3, 0.795);
    z-index: 1;
}

@media (min-width: 384px) {
    .headerText, .footerText {
        overflow-wrap: break-word;
    }
    /*.container-item-box {*/
        /*overflow:scroll;*/
        /*overflow-y: scroll;*/
    /*}*/
    .container-item {
        /*width: 30%;*/
        width: calc(60% - 2em);
        height: auto;
    }
    body {
        overflow-y: scroll;
        overflow-x: hidden;
        /*background-size: calc(100% + 20px) calc(100% + 20px);*/
    }
    header {
        z-index: 2;
    }
    .background-image {
        background-size: auto;
    }
}

@media (min-width: 768px){
    .container {
        justify-content: left;
        height: auto; /* lisätty juuri */
        /*max-height: none;*/
    }
    .container-item {
        width: 20%;
        /*width: calc(50% - 2em);*/
        height: auto;
    }
    body {
        overflow: hidden;
        background-size: contain;
    }
}