body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8d7da; /* Bootstrap's danger color */
}

.error-container {
    background-color: #721c24; /* Bootstrap's dark red color */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show {
    opacity: 1;
}