<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    </head>

    <body>
        <img src="{{url_for('static',filename='background.jpg')}}" alt="background image" class="background-image">
        <header>
            <h1 class="headerText">Biljardiajanvaraus</h1>
            <nav id="navigation">
                <a href="{{url_for('home')}}">Koti</a>
                <a href="{{url_for('about')}}">Tietoa</a>
                <a href="{{url_for('contact')}}">Yhteystiedot</a>
                <a href="{{url_for('register')}}">Registeröinti</a>
                <a href="{{url_for('login')}}">Kirjaudu</a>
            </nav>
        </header>

        <section class="container">
            <div class="container-item">
                <div class="container-item-box">
                    <iframe src="https://www.biljardisuomi.fi/uutiset/" frameborder="0"></iframe>
                </div>
                <div class="container-item-description">Uutiset</div>
            </div>
            <div class="container-item">
                <div class="container-item-box">
                    <iframe src="https://www.stadissa.fi/paikat/3187/biljardisaleja-helsingissa-ja-lahiseuduilla" frameborder="0"></iframe>
                </div>
                <div class="container-item-description">Pelipaikat</div>
            </div>
            <div class="container-item">
                <div class="container-item-box">
                    <iframe src="https://poolbar.fi/8-pallo.html" frameborder="0"></iframe>
                </div>
                <div class="container-item-description">Peliohjeet</div>
            </div>
        </section>
        <footer>
            <p class="footerText">&copy; 2023 Biljardiajanvaraus versio 2.0.0</p>
        </footer>
    </body>
</html>